/* Estilizações para tags */

body {
    background-color: rgba(0, 0, 0, 0.863);
    /*Grafite: rgba(0, 0, 0, 0.155)*/
}

header {
    background-color: hsla(358, 81%, 50%, 0.822);
    height: 60px;
    display: flex; 
    justify-content: space-between;
    position: relative;
}

main {
    margin: auto;
    display: block; 
    max-width: 933px; /* Mexer quando os novos cards estiverem prontos */
    text-align: left; /* Alinha textos e conteúdo inline à direita */
}

footer {
    margin: auto;
    display: block; 
    max-width: 933px; /* Mexer quando os novos cards estiverem prontos */
    text-align: left; /* Alinha textos e conteúdo inline à direita */
}

h1, h2, h3{
    all: unset;
}

h1 {
    font-size: 65px;
    color: aqua;
}

h2 {
    font-size: 55px;
    opacity: 0.95;
    color: aqua;
}

h3 {
    font-size: 35px;
    opacity: 0.70;
    color: aqua;
}

p {
    line-height: 150%;
    font-size: 21px;
    color: white;
    opacity: 0.86;
    margin-top: 30px;
    margin-bottom: 30px;
}

strong{
    color: white;
}

li{
    margin-left: 20px;
    font-size: 21px;
    color: white;
    opacity: 0.86;
}

table {
    width: 100%;
    align-items: center;
    border-collapse: collapse; /* Combina as bordas das células da tabela */
}

th, td {
    border: 1px solid #ffffffa9;
    padding: 7px;
    background-color: #ddd;
    color: #000;
}

th {
    background-color: #333;
    color: rgba(255, 255, 255, 0.824);
}

img{
    width: 100%;
}

abbr {
    object-fit: contain;
    word-spacing: 1px;
    font-size: 18px;
    margin-left: 1vh;
    margin-right: 1vh;
    color: white;
    opacity: 0.86;
    max-width: 1170px;
}

article {
    object-fit: contain;
    word-spacing: 1px;
    font-size: 18px;
    margin-left: 1vh;
    margin-right: 1vh;
    color: white;
    opacity: 0.86;
    max-width: 1170px;
}

canvas {
    border: 1px solid black;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

code {
    word-spacing: 2px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: aqua;
    opacity: 0.65;
}

@media screen and (max-width: 480px) {
    img {
        transform: scale(0.5);
    }

    h1, h2, h3 {
        margin: 3vh auto 3vh auto;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 5vw;
    }
}
