/* Reset CSS */
body, html {
    height: 100%;
    margin: 0;
}

/* Estilos para cabeçalhos */
header {
    background-color: #d3b0b0;
    height: 60px;
    display: flex; 
}

.centralizar_cabecalho{
    align-items: center;
    object-fit: contain;
    display: block;
    margin: auto;
}

.delimitar_largura {
    background-color: #1e7b2d;
    object-fit: contain;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.logo_texto_wrapper {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.logo {
    width: 50px;
    margin-right: 110vh;
}

.bloco_texto {
    font-size: 20px;
    margin-left: 10px; /* Ajuste conforme necessário */
}

.navegacao {
    margin-right: 0px;
    display: inline-block;
    margin-top: 16px;
}

.botoes_navegacao {
    display: inline;
    font-size: 25px;
    margin: 10px;
}


/* Estilos para títulos */
h1, h2, h3 {
    text-align: center;
    margin-bottom: 2%;
}

h1 {
    font-size: 65px;
    color: aqua;
}

h2 {
    font-size: 55px;
    opacity: 0.95;
    color: aqua;
}

h3 {
    font-size: 35px;
    opacity: 0.70;
    color: aqua;
}

/* Estilos para parágrafos, artigos e abreviações */
p, article, abbr {
    word-spacing: 2px;
    font-size: 18px;
    margin: auto;
    color: white;
    opacity: 0.86;
    max-width: 1170px;
}

/* Estilos para tabelas */
table {
    text-align: center;
    border-collapse: collapse;
    max-width: 1170px;
    margin: auto;

}

th, td {
    border: 1px solid #555;
    padding: 8px;
    background-color: #ddd;
    color: #000;
}

th {
    background-color: #333;
    color: white;
}

/* Estilos para elementos de classe "p" */
.p {
    font-size: 25px;
    color: white;
}

/* Estilos para espaçamento */
.espacamento {
    word-spacing: 2px;
    font-size: 18px;
    margin: 3%;
    color: white;
    opacity: 0.86;
}

/* Estilos para botões de alternativa */
.alternativa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2cb52f;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alternativa:hover {
    background-color: #1e7b2d;
}

/* Estilos para menus */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* Estilos para botões de menu */
.botao_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2cb52f;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.25s;
    opacity: 0.8;
    margin-bottom: 16px;
    flex: 0 0 calc(20% - 32px);
}

.botao_menu:hover {
    transform: scale(1.10);
    margin:10px;
    background-color: #2cb52f;
    opacity: 1;
}

/* Estilos para alinhar com parágrafo */
.alinhar_com_paragrafo {
    margin: 2%;
    align-items: center;
}

img{
    margin: auto;
}
/* Estilos para códigos */
.code, .code_2 {
    word-spacing: 2px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.code {
    color: aqua;
    opacity: 0.65;
}

.code_2 {
    color: #2cb52f;
}

/* Estilos para tabelas */
.tabela {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.linha {
    display: flex;
    height: 100%;
}

.coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-sizing: border-box;
}

/* Estilos para imagem de fundo */
.imagem_de_fundo {
    background: url(imagens/imagem_de_fundo.jpg) center fixed;
    position: relative;
}

/* Estilos para escurecer e centralizar */
.escurecer, .centralizar {
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 2px;
    color: white;
    padding: 1%;
}

/* Estilos para centralizar */
.centralizar {
    align-items: center;
    justify-content: center;
}

/* Estilos para centralizar imagem */
.centralizar_imagem {
    display: block;
    margin: auto;
    max-width: 500px;
    object-fit: contain;
}

/* Estilos responsivos para centralizar imagem */
@media screen and (max-width: 480px) {
    .centralizar_imagem {
        transform: scale(0.5);
        object-fit: contain;
    }
}

/* Estilos para questões */
.questao {
    align-items: center;
    display: block;
    margin: 2% 10%;
}

/* Estilos para índices */
.id_index {
    background: url(imagens/imagem_de_fundo.jpg);
    background-size: cover;
}

/* Estilos para canvas */
canvas {
    border: 1px solid black;
}

/* Estilos para cards */
.conjunto_flashcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 1200px;
    margin: auto;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.paragrafo_card {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #000;
}

.descricao_card {
    text-align: right;
    font-size: 18px;
    color: #000;
    position: absolute;
    left: 40px; /* Ajuste conforme necessário para a posição desejada */
    right: 6px;
    font-weight: bolder;
}


a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
