body, html {
    height: 100%;
    margin: 0;
}

h1, h2, h3 {
    color: aqua;
    text-align: center;
    margin-bottom: 2%;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 55px;
    opacity: 0.95;
}

h3 {
    font-size: 35px;
    opacity: 0.70;
}

p, article, abbr{
    opacity: 0.86;
    word-spacing: 2px;
    color: white;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 94%;
    margin: auto;
    border: 2px solid #555;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: center;
    background-color: #ddd;
}

th {
    background-color: #333;
    color: white;
}

.p {
    color: white;
    font-size: 25px;
}

.img {
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap; /* Adicionado para permitir que os itens quebrem para a próxima linha */
    justify-content: center; /* Adicionado para centralizar horizontalmente */
    gap: 16px; /* Espaçamento entre os itens */
}

.botao_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2cb52f;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.25s;
    opacity: 0.8;
    margin-bottom: 16px;
    flex: 0 0 calc(20% - 32px); /* Distribui os itens em 5 colunas, considerando o espaçamento */
}

.botao_menu:hover {
    font-size: 30px;
    margin: 4px;
    background-color: #2cb52f;
    opacity: 1;
    padding: 8px 30px;
}

.code, .code_2 {
    word-spacing: 2px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.code {
    color: aqua;
    opacity: 0.65;
}

.code_2 {
    color: #2cb52f;
}

.tabela {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.linha {
    display: flex;
    height: 100%;
}

.coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-sizing: border-box;
}

.imagem_de_fundo {
    background: url(imagens/imagem_de_fundo.jpg);
    background-position: center;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    position: relative;
}

.escurecer, .centralizar {
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 2px;
    color: white;
    padding: 1%;
}

.centralizar {
    align-items: center;
    justify-content: center;
}
